@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,200&display=swap');

:root{
    --couleurNoir: #2B2F3D;
    --couleurRouge: #DF7A56;
    --couleurJaune: #F0B400;
    --couleurBlanc: #FFFFFF;
    --policeTitre:'Angkor';
    --policeGenerale: 'LibreFranklin', Arial, sans-serif;
}
html{
    width: 100%;
    height: fit-content;
}
body{
    background-color: var(--couleurNoir);
    color: var(--couleurBlanc);
    font-family: 'LibreFranklin', 'Franklin', Arial, Helvetica, sans-serif;
    max-width: 100%;
    height: 100%;
    margin: 0;
}

/*NAVIGATION PRINCIPALE (UN)*/
.menuVisible{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.menuCache{
    display: none;
}
.menu{
    color: var(--couleurNoir);
    text-transform: uppercase;
}
.nav_icon{
    height: 50px;
}


/*NAVIGATION PRINCIPALE (BIS)*/
header{
    background-color: var(--couleurRouge);
    width: 100%;
}
header ul{
    background-color: var(--couleurRouge);
    color: var(--couleurNoir);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}
header li{
    text-transform: uppercase;
    width: 100%;
    border-bottom: solid 1px var(--couleurNoir);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}
li a{
    height: 100%;
    max-width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}
ul a:link, 
ul a:visited{
    background-color: var(--couleurRouge);
    color: var(--couleurNoir);
    text-decoration: none;
}
ul a:hover{
    text-decoration: underline;
}
ul a:active{
    background-color: var(--couleurNoir);
    color: var(--couleurNoir);
}
ul a:focus{
    border: solid 1px var(--couleurNoir);
    background-color: var(--couleurBlanc);
}

/*EN-TÊTE*/
.enTete{
    background-image: url(../images/image_enTete.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 562px;*/
    height: 50vh;
}
@media(min-width:600px){
    .enTete{
        height: 805px;
    }
}
@media(min-width:1000px){
    .enTete{
        height: 875px;
        width: 100%;
    }
}

/*SECTIONS*/
section{
    border-bottom: solid 2px var(--couleurJaune);
}
main section:first-child,
main section:last-child{
    border-bottom: none;
}
@media(min-width:1000px){
    .un,
    .deux,
    .trois,
    .quatre{
        margin: 0 100px;
    }
}
@media(min-width:1000px){
    .un{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    .un .h2{
        flex: 1 0 100%;
    }
    .un .notreHistoire{
        flex: 0 1 35%;
        margin-bottom: 1em;
    }
    .un p{
        flex: 0 1 50%;
        margin-left: 1em;
    }
}

.deux{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
@media(min-width:600px){
    .deux{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .deux .effetH2{
        width: 100%;
    }
    .deux ul{
        width: 50%;
    }
    .deux .nosServices__img{
        width: 50%;
    }
    .deux p{
        width: 100%;
    }
}
@media(min-width: 1000px){
    .deux ul,
    .deux .nosServices__img{
        align-self: center;
    }
}



/*H2 - EFFET TITRE*/
.h2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
svg{
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    flex: 0 1 auto;
}
.deux .h2{
    width: 100%;
}
.deux .h2 svg{
    margin-right: 1em;
}
.effetH2:nth-child(2) .titreSecondaire,
.effetH2:nth-child(2) .effet,
.effetH2:nth-child(4) .titreSecondaire,
.effetH2:nth-child(4) .effet{
    text-align: right;
}
.effetH2{
    display: block;
    height: 320px;
    height: fit-content;
    position: relative;
}
.titreSecondaire{
    font-family: 'Angkor', fantasy;
    font-size: 3em;  
    z-index: 3;
}
.effet{
    font-family: 'Angkor', fantasy;
    font-size: 3em;
    position: absolute;
    top: 2%;
    left: 0;
    z-index: -1;
    -webkit-text-stroke: .02px var(--couleurBlanc);
    -webkit-text-fill-color: var(--couleurNoir);
}
.effetH2:nth-child(1),
.effetH2:nth-child(3){
    margin-left: 1em;
}
.effet:nth-child(2){
    right: 0;
}


@media(min-width:600px){
    .effetH2{
        display: block;
        height: 210px;
    }
    .titreSecondaire{
        font-family: 'Angkor', fantasy;
        font-size: 4em;  
        z-index: 3;
        max-height: 100%;
        margin: 0 0;
    }
    .effet{
        font-family: 'Angkor', fantasy;
        font-size: 4em; 
        -webkit-text-stroke: .02px var(--couleurBlanc);
        -webkit-text-fill-color: var(--couleurNoir);
        max-height: 100%;
        margin: 0 0;
    }
}

p svg{
    margin-left: 0;
}
p:nth-child(1) svg{
    margin-left: 0;
}


/*IMAGES*/
img{
    max-width: 100%;
}

/* NOTRE HISTOIRE */
.un{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}
.h2--histoire{
    max-width: 100%;
}
.notreHistoire{
    box-shadow: var(--couleurRouge) -5px 5px;
    max-width: 80%;
    max-height: 80%;
    display: block;
}
.un p{
    margin: 1em 1em;
}
@media(min-width: 750px){
    .un{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .h2--histoire{
        flex: 1 0 100%;
    }
    .notreHistoire,
    .un p{
        flex: 0 1 40%;
    }
}


/* SERVICES */
.nosServices{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.nosServices__services{
    margin: 1em 1em;
}
.nosServices__img{
    display: block;
    max-width: 90%;
    max-height: 50%;
    align-self: center;
    margin-bottom: 1em;
}
.ctn__btn button{
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    background-color: var(--couleurJaune);
    font-size: 1.5em;
    color: var(--couleurNoir);
}
.ctn__btn{
    margin: auto auto;
}
.suivant,
.precedent{
    margin: 1em;
}
.ctn__btn+p{
    font-size: .8em;
    text-align: center;
}

@media(min-width: 600px){
    .nosServices,
    .nosServices__img{
        margin: 1em 1em;
        flex: 0 1 40%;
    }    
}


.nousTrouver{
    box-shadow: var(--couleurBlanc) -5px 5px;
}
.nousTrouver__indicationsListe{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
}
@media(min-width:600px){
    .nousTrouver__indicationsListe{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .nousTrouver__indicationsListe p{
        width: 50%;
    }
}
@media(min-width: 1000px){
    .nousTrouver__indicationsListe{
        justify-content: flex-start;
        align-items: flex-start;
    }
}
.nousTrouver__indications{
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: .5em;
}


/* NOUS TROUVER 2.0 */
.trois{
    width: 100%;
    margin-left: 0;
}
.ctn_map{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.map{
    width: 100%;
    height: 100%;
    height: 35vh;
    background-image: linear-gradient(rgba(43, 47, 61, .4), transparent, rgba(43, 47, 61, .4)), url(../images/maps.png);
    background-position:  0px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ctn__coordonnees{
    background-color: #2B2F3D;
    width: fit-content;
    height: fit-content;
    padding: .5em;
    
}
@media(min-width: 600px){
    .ctn_map{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: flex-end;
        flex-wrap: nowrap;
    }
    .map{
        height: 50vh;
    }
    .ctn__coordonnees{
        padding: 2.5em;
        height: 100%;
    }
}
@media(min-width: 1000px){
    .h2{
        margin: 100px;
    }
}
.ctn__coordonnees svg{
    margin-left: 0;
}



/*RÉSEAUX SOCIAUX*/
.reseauxSociaux{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
a img{
    width: 40px;
    height: 40px;
    margin: 0 10px;
}
.pReseauxSociaux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/********FORMULAIRE********/
form{
    margin-bottom: 2em;
    width: 100%;
}
form fieldset{
    border: solid 2px var(--couleurRouge);
    padding-top: 1em;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
@media(min-width: 700px){
    form>fieldset{
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    .commentaires{
        flex: 1 0 100%;
    }
}
@media(min-width: 1000px){
    form>fieldset{
        margin: 1em auto;
    }
}
fieldset fieldset{
    border: none;
}
@media(min-width: 700px){
    fieldset fieldset:nth-child(1),
    fieldset fieldset:nth-child(2){
        flex: 0 1 45%;
    }
    fieldset fieldset:nth-child(3),
    fieldset fieldset:nth-child(4),
    fieldset fieldset:nth-child(5){
        flex: 0 1 100%;
    }
}
fieldset fieldset input[type="text"]{
    width: 100%;
}

fieldset div{
    margin-bottom: 1em;
}
fieldset p{
    text-transform: uppercase;
}
div label{
    text-transform: uppercase;
    margin-top: 8em;
    padding-bottom: 10em;
}
input[type="text"], 
input[type="email"]{
    height: 50px;
    width: 100%;
}
@media(min-width:600px){
    input[type="text"]{
        width: 70%
    }
}
/*.conteneur__conteneurCalendrier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(min-width:1000px){
    .conteneur__conteneurCalendrier{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
}
.conteneurCalendrier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/




/*BOUTONS RADIO*/
.screen-reader-only{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus {
clip: auto;
height: auto;
margin: 0;
overflow: visible;
position: static;
width: auto;
}



/*LÉGENDE-CALENDRIER*/
/*
.legendeCalendrier div{
    margin-bottom: 0;
}
.legendeCalendrier{
    background-color: var(--couleurBlanc);
    color: var(--couleurNoir);
    width: 255px;
    margin-bottom: 1em;
    align-self: center;
}
@media(min-width: 600px){
    .legendeCalendrier{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: fit-content;
        padding: 0 10px;
    }
}
@media(min-width:1000px){
    .legendeCalendrier{
        flex-direction: column;
        align-items: flex-start;
        width: 255px;
    }
}
.aujourdHui{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    padding-left: .5em;
}
.aujourdHui .span{
    display: inline-block;
    border: solid 1px var(--couleurJaune);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 1em;
}
.ferme{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    padding-left: .5em;
}
.ferme .span{
    display: inline-block;
    background-color: rgba(43, 47, 61, 38%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 1em;
}
.complet{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    padding-left: .5em;
}
.complet .span{
    display: inline-block;
    background-color: var(--couleurRouge);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 1em;
}*/
/*CHECKBOX*/
/*
.conteneurCheckbox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}
@media(min-width:600px){
    .conteneurCheckbox{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
}
.checkbox label{
    margin-top: 0;
    padding-bottom: 0;
}
.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}

@media(min-width:600px){
    .checkbox{
        width: 50%;
    }
}
@media(min-width:1000px){
    .checkbox{
        width: 33%;
    }
}
input[type="checkbox"]{
    width: 30px;
    height: 30px;
}
*/

/*COMMENTAIRES*/
.commentaires{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}
.commentaires label{
    margin-top: 0;
    padding-bottom: 0;
}
.commentaires textarea{
    width: 100%;
    height: 150px;
}

/*BOUTON*/
button{
    background-color: var(--couleurJaune);
    color: var(--couleurNoir);
    text-transform: uppercase;
    font-size: larger;
    font-weight:bolder;
    border: none;
    width: 280px;
    height: 80px;
    align-self: center;
}
@media(min-width: 600px){
    .form_button{
        margin: auto;
    }
}
button:hover{
    text-decoration: underline;
}
button:active{
    background-color: var(--couleurBlanc);
    text-decoration: underline;
}
button:focus{
    outline: 1em var(--couleurBlanc);
    border: var(--couleurBlanc) -3px solid;
}

/*******FOOTER******/
footer{
    background-color: var(--couleurRouge);
    color: var(--couleurNoir);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.liensFooter{
    color: var(--couleurNoir);
    font-size: .8em;
    text-decoration: none;
}
.liensFooter:hover{
    text-decoration: underline;
}

