//Header de la page index.php
.headerIndex{
  height: 100vh;
  background-image: url("../images/images/image_entete1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  @media (min-width: 600px) {
    height: 90vh;
  }
  div{
    a{
      display: block;
      z-index: 3;
      img{
        width: 45px;
        height: 45px;
      }
    }
  }
  &__imgTitre{
    display: block;
    width: 35vw;
    margin: auto auto;
  }
  .titre{
    font-family: $headerPrincipal;
    font-family: $fonteTitre;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    position: relative;
    top: 15vh;
    &__debut,
    &__fin{
      font-family: $fontePrincipale;
      font-weight: lighter;
    }
    &__debut{
      text-transform: uppercase;
      font-size: .6em;
      text-align: left;
      @media (min-width:600px) {
        font-size: .8em;
      }
    }
    &__milieu{
      font-size: 1.4em;
      font-weight: bolder;
      @media (min-width:600px) {
        font-size: 2em;
      }
    }
    &__fin{
      text-transform: uppercase;
      font-size: .6em;
      text-align: right;
      @media (min-width:600px) {
        font-size: .8em;
      }
    }
  }
  &__source{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
  }
}

//Header de la page contact.php
.headerContact{
  height: 60vh;
  background-image: url("../images/images/contact_enTete.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  img{
    width: 45px;
    height: 45px;
  }
  &__source{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
  }
}