span{
    a, 
    a:visited{
    color: $blanc;
    font-style: italic;
    text-decoration: underline;
}
a:hover{
    font-style: normal;
    
}
a:active{
    font-weight: bold;
    text-decoration: none;
}
}
.refImage{
    font-size: .7em;
}

