.notreHistoire{
  background: $blanc;
  color: $bleuNoir;
  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__titre{
    -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: $bleuNoir;
    @media (min-width: 600px){
      flex: 1 0 100%;
    }
  }
  .histoire{
    padding-bottom: .6em;
    @media (min-width: 600px){
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      max-height: 100%;
      padding-bottom: unset;
    }
    @media (min-width: 1000px){
      width: 1000px;
      margin: 0 auto;
    }
    &__p{
      margin: auto .5em;
      @media (min-width: 600px){
        margin: auto auto auto .5em;
        flex: 0 1 50%;
      }
    }
    .ctnImages{
      position: relative;
      max-height: 80%;
      @media (min-width: 600px){
        flex: 0 1 50%;
      }
      &__img{
        display: block;
        max-width: 100%;
        @media (min-width: 600px){
          max-height: 100%;
        }
      }
      &__reference{
        position: absolute;
        bottom: 0;
        left: 0;
        color: $blanc;
      }
    }
  }
}