.nosContacts{
  &__titre{
    text-align: center;
    margin: 1em auto;
    border-top: $blanc solid 2px;
    @media (min-width: 600px) {
      width: fit-content;
      padding-top: 1em;
    }
  }
  .listeContacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    //border: #F0B400 1px solid;
    padding-left: 0;
    @media (min-width: 600px) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 3em 0;
    }
    .adresse{
      text-align: center;
      border-bottom: $blanc solid 2px;
      @media (min-width: 600px) {
        border-bottom: none;
        border-right: $blanc solid 2px;
      }
    }
    .telephone{
      text-align: center;
    }
    .courriel{
      border-top: $blanc solid 2px;
      text-align: center;
      text-wrap: normal;
      @media (min-width: 600px) {
        border-top: none;
        border-left: $blanc solid 2px;
      }
      &__lien{
        color: $blanc;
        text-decoration: none;
      }
    }
    img{
      display: block;
      height: 45px;
      margin: 0 auto;
    }
    li{
      width: 200px;
      aspect-ratio: 1/1;
      padding: .5em .5em;
    }
  }
  &__plan{
    display: block;
    max-width: 100%;
    @media (min-width: 1000px) {
      width: 1000px;
      margin: 0 auto 1.5em auto;
    }
  }
}
