@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Angkor&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
body {
  color: #fff;
  font-family: "Raleway";
}
body h2 {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #fff;
  font-family: "Angkor";
  color: transparent;
  font-size: 2.5em;
}

html {
  margin: 0;
  width: 100%;
  scroll-behavior: smooth;
}
html body {
  margin: 0 0;
  width: 100%;
  background: #191A1C;
}

button,
.button {
  background: #fff;
  color: #191A1C;
  font-family: "Raleway";
  padding: 10px 16px;
  border: none;
  text-decoration: none;
}
button:hover,
.button:hover {
  background: #aaa;
  font-weight: bold;
}
button:active,
.button:active {
  color: #191A1C;
  font-weight: bold;
  text-decoration: underline;
}
button:focus,
.button:focus {
  outline: #fff solid 1px;
  outline-offset: 2px;
}

.headerIndex {
  height: 100vh;
  background-image: url("../images/images/image_entete1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (min-width: 600px) {
  .headerIndex {
    height: 90vh;
  }
}
.headerIndex div a {
  display: block;
  z-index: 3;
}
.headerIndex div a img {
  width: 45px;
  height: 45px;
}
.headerIndex__imgTitre {
  display: block;
  width: 35vw;
  margin: auto auto;
}
.headerIndex .titre {
  font-family: "Libre Baskerville";
  font-family: "Angkor";
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  position: relative;
  top: 15vh;
}
.headerIndex .titre__debut, .headerIndex .titre__fin {
  font-family: "Raleway";
  font-weight: lighter;
}
.headerIndex .titre__debut {
  text-transform: uppercase;
  font-size: 0.6em;
  text-align: left;
}
@media (min-width: 600px) {
  .headerIndex .titre__debut {
    font-size: 0.8em;
  }
}
.headerIndex .titre__milieu {
  font-size: 1.4em;
  font-weight: bolder;
}
@media (min-width: 600px) {
  .headerIndex .titre__milieu {
    font-size: 2em;
  }
}
.headerIndex .titre__fin {
  text-transform: uppercase;
  font-size: 0.6em;
  text-align: right;
}
@media (min-width: 600px) {
  .headerIndex .titre__fin {
    font-size: 0.8em;
  }
}
.headerIndex__source {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.headerContact {
  height: 60vh;
  background-image: url("../images/images/contact_enTete.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.headerContact img {
  width: 45px;
  height: 45px;
}
.headerContact__source {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.ctn-navbar {
  background: linear-gradient(#191A1C, rgba(25, 26, 28, 0));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  transition: background ease-in-out 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
@media (min-width: 600px) {
  .ctn-navbar {
    flex-direction: row;
  }
}
.ctn-navbar div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.ctn-navbar div a {
  display: block;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 600px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
nav ul {
  list-style-type: none;
}
nav ul li {
  margin: 0.3em 1em;
  width: 100%;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: ease-in-out 2s;
  width: 7em;
}
nav ul li a:hover {
  text-decoration: underline;
  border-bottom: #fff;
}
nav ul li a:active {
  font-weight: bold;
}
nav ul li a:focus {
  outline: #fff solid 1.5px;
  padding: 5px 5px;
}

.bg-solid {
  background: #191A1C;
}

.menuOuvert {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: right;
  width: 100vw;
  background: #fff;
  color: #191A1C;
}
@media (min-width: 600px) {
  .menuOuvert {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    text-align: unset;
    width: unset;
    background: linear-gradient(#191A1C, rgba(25, 26, 28, 0));
    color: #fff;
  }
}

.menuFerme {
  display: none;
}

.sectionEnCours {
  font-weight: bold;
  color: #DF7A56;
  border-bottom: #DF7A56 solid 5px;
}

.couleurBg {
  background: #fff;
}
@media (min-width: 600px) {
  .couleurBg {
    background: linear-gradient(#191A1C, rgba(25, 26, 28, 0));
  }
}
.couleurBg a {
  color: #191A1C;
}
@media (min-width: 600px) {
  .couleurBg a {
    color: #fff;
  }
}

.notreHistoire {
  background: #fff;
  color: #191A1C;
}
@media (min-width: 600px) {
  .notreHistoire {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
.notreHistoire__titre {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #191A1C;
}
@media (min-width: 600px) {
  .notreHistoire__titre {
    flex: 1 0 100%;
  }
}
.notreHistoire .histoire {
  padding-bottom: 0.6em;
}
@media (min-width: 600px) {
  .notreHistoire .histoire {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 100%;
    padding-bottom: unset;
  }
}
@media (min-width: 1000px) {
  .notreHistoire .histoire {
    width: 1000px;
    margin: 0 auto;
  }
}
.notreHistoire .histoire__p {
  margin: auto 0.5em;
}
@media (min-width: 600px) {
  .notreHistoire .histoire__p {
    margin: auto auto auto 0.5em;
    flex: 0 1 50%;
  }
}
.notreHistoire .histoire .ctnImages {
  position: relative;
  max-height: 80%;
}
@media (min-width: 600px) {
  .notreHistoire .histoire .ctnImages {
    flex: 0 1 50%;
  }
}
.notreHistoire .histoire .ctnImages__img {
  display: block;
  max-width: 100%;
}
@media (min-width: 600px) {
  .notreHistoire .histoire .ctnImages__img {
    max-height: 100%;
  }
}
.notreHistoire .histoire .ctnImages__reference {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}

.nousTrouver {
  border-top: #fff solid 2px;
}
@media (min-width: 600px) {
  .nousTrouver {
    border-top: none;
  }
}

@media (min-width: 600px) {
  .nosServices,
  .nousTrouver {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
  }
}
.nosServices .ctnImages,
.nousTrouver .ctnImages {
  flex: 0 1 50%;
  aspect-ratio: 1/1;
  position: relative;
}
.nosServices .ctnImages__filtre,
.nousTrouver .ctnImages__filtre {
  width: 100%;
  height: 100%;
  background: rgba(25, 26, 28, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.nosServices .ctnImages__source,
.nousTrouver .ctnImages__source {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.nosServices .ctnTexte,
.nousTrouver .ctnTexte {
  flex: 0 1 50%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.nosServices .ctnTexte__titre,
.nousTrouver .ctnTexte__titre {
  margin-bottom: 0;
}
@media (min-width: 600px) {
  .nosServices .ctnTexte__titre,
  .nousTrouver .ctnTexte__titre {
    margin-bottom: unset;
  }
}
.nosServices .ctnTexte__p,
.nousTrouver .ctnTexte__p {
  text-align: center;
  margin: 0 1em;
}
@media (min-width: 600px) {
  .nosServices .ctnTexte__p,
  .nousTrouver .ctnTexte__p {
    margin: 0 3em;
  }
}

.nosServices .ctnImages {
  background-image: url("../images/images/image_nosServices.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nousTrouver .ctnImages {
  background-image: url("../images/images/image_nousTrouver.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nosContacts__titre {
  text-align: center;
  margin: 1em auto;
  border-top: #fff solid 2px;
}
@media (min-width: 600px) {
  .nosContacts__titre {
    width: fit-content;
    padding-top: 1em;
  }
}
.nosContacts .listeContacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}
@media (min-width: 600px) {
  .nosContacts .listeContacts {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 3em 0;
  }
}
.nosContacts .listeContacts .adresse {
  text-align: center;
  border-bottom: #fff solid 2px;
}
@media (min-width: 600px) {
  .nosContacts .listeContacts .adresse {
    border-bottom: none;
    border-right: #fff solid 2px;
  }
}
.nosContacts .listeContacts .adresse__texte {
  margin: auto;
}
.nosContacts .listeContacts .telephone {
  text-align: center;
}
.nosContacts .listeContacts .telephone__img {
  margin-top: 0.4em;
}
@media (min-width: 600px) {
  .nosContacts .listeContacts .telephone__img {
    margin-top: unset;
  }
}
.nosContacts .listeContacts .telephone__numero {
  margin: auto;
}
.nosContacts .listeContacts .courriel {
  border-top: #fff solid 2px;
  text-align: center;
}
@media (min-width: 600px) {
  .nosContacts .listeContacts .courriel {
    border-top: none;
    border-left: #fff solid 2px;
  }
}
.nosContacts .listeContacts .courriel__lien {
  color: #fff;
  text-decoration: none;
  word-break: break-word;
  margin: auto;
}
.nosContacts .listeContacts img {
  display: block;
  height: 45px;
  margin: 0 auto;
}
.nosContacts .listeContacts li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  aspect-ratio: 1/1;
  padding: 0.5em 0.5em;
}
@media (min-width: 600px) {
  .nosContacts .listeContacts li {
    aspect-ratio: unset;
    height: 220px;
    width: 300px;
  }
}
.nosContacts__plan {
  display: block;
  max-width: 100%;
}
@media (min-width: 1000px) {
  .nosContacts__plan {
    width: 1000px;
    margin: 0 auto 1.5em auto;
  }
}

.nousContacter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.nousContacter__titre {
  text-align: center;
  margin: 1em auto;
  border-top: #fff solid 2px;
}
@media (min-width: 600px) {
  .nousContacter__titre {
    width: fit-content;
    padding-top: 1em;
  }
}
.nousContacter span {
  margin-bottom: 1em;
}
.nousContacter span i {
  color: #fff;
}
@media (min-width: 1000px) {
  .nousContacter span {
    display: block;
    width: 1000px;
    margin: 0 auto;
  }
}
@media (min-width: 600px) {
  .nousContacter .formulaire {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 1000px) {
  .nousContacter .formulaire {
    width: 1000px;
    margin: 0 auto;
  }
}
.nousContacter .formulaire fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
}
@media (min-width: 600px) {
  .nousContacter .formulaire fieldset {
    flex: 0 1 50%;
  }
}
.nousContacter .formulaire fieldset fieldset {
  width: 100%;
  padding: 0 0;
}
.nousContacter .formulaire fieldset input,
.nousContacter .formulaire fieldset select {
  width: 100%;
  height: 40px;
  margin-bottom: 0.5em;
  background: transparent;
  color: #fff;
  border: #fff solid 2px;
}
.nousContacter .formulaire fieldset textarea {
  width: 100%;
  height: 180px;
  margin-bottom: 0.5em;
  background: transparent;
  color: #fff;
  border: #fff solid 2px;
}
.nousContacter .formulaire fieldset option {
  background: #191A1C;
  color: #fff;
}
.nousContacter .formulaire fieldset .erreur {
  border: #FF8357 solid 2px;
}
.nousContacter .retroactionErreur,
.nousContacter .labelErreur {
  color: #FF8357;
}

footer {
  text-align: center;
  margin: 2em 0;
}

/*# sourceMappingURL=styles.css.map */
